/* Estilos generales */
body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Esto oculta el scroll vertical */
    font-family: 'Roboto', sans-serif; /* Aplicar fuente Roboto a todo el documento */
}

.fullscreen {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
}

.parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Estilos del menú */
.fixed-header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #333;
    z-index: 1000;
    display: flex;
    justify-content: space-between; /* Distribuir elementos horizontalmente */
    align-items: center; /* Centrar verticalmente */
    padding: 10px 20px; /* Añadir espacio alrededor del contenido */
}

.fixed-header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-right: 30px;
    text-align: center;
}

.fixed-header nav ul li {
    display: inline;
}

.fixed-header nav ul li a {
    display: inline-block;
    padding: 20px;
    color: #fff;
    text-decoration: none;
    transition: all 0.3s ease;
}

.fixed-header nav ul li a:hover {
    background-color: #555;
}

/* Estilo del logotipo */
.logo img {
    height: 50px; /* Altura del logotipo */
}
#container3D canvas {
    width: 100vw1 !important;
    height: 100vh !important;
    position: absolute;
    top: 0;
    left: 0;
  }
  
/* Estilos específicos para cada sección */
section#inicio {
    background-color: #f0f0f0; /* Color de fondo para la sección Inicio */
}

section#nosotros {
    background-color: #ffec81; /* Color de fondo para la sección Nosotros */
}

section#productos {
    background-color: #a3ffc6; /* Color de fondo para la sección Productos */
}

section#contacto {
    background-color: #e57eff; /* Color de fondo para la sección Contacto */
}
.mobile-menu-icon {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.mobile-menu-icon .bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 3px 0;
}

.mobile-menu {
    display: none;
    position: fixed;
    top: 60px; /* Alinea el menú con el header */
    left: 0;
    width: 100%;
    background-color: #333;
    padding: 20px;
    box-sizing: border-box; /* Incluye el padding en el cálculo del ancho */
}

.mobile-menu nav ul {
    list-style-type: none;
    padding: 0;
}

.mobile-menu nav ul li {
    margin-bottom: 10px;
}

.mobile-menu nav ul li a {
    color: #fff;
    text-decoration: none;
}

.close-menu {
    background-color: #f00;
}
@media screen and (max-width: 768px) {
    .nav-menu {
        display: none; /* Oculta el menú principal en dispositivos móviles */
    }

    .mobile-menu-icon {
        display: flex; /* Muestra el icono de hamburguesa en dispositivos móviles */
        padding-right: 30px;
    }

    .fullscreen {
        height: calc(100vh - 60px); /* Resta la altura del menú desplegable del 100% del viewport height */
    }
}


